<!DOCTYPE html>
<html>
<head>
  <title>Mile Hi Fly</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<center>
<body>
<div>
  <%= render 'layouts/header'%>
</div>
<%= yield %>
</body>
</center>
</html>
